<!DOCTYPE html>
{% extends 'mainapp/base.html' %}
{% load static %}
<html>
		{% block menu%}
		<div class="hero-white">
			{% include 'mainapp/include/inc_main_menu.html' %}
		</div>
		{% endblock %}
		{% block content %}
		<div class="details">
			<div class="links clearfix">
				<ul class="links-menu">
					{% for category in categories %}
						<li>
							<a href="{{ category.href }}"
								class="{% if category.name == selected_category.name %} active {% endif %}">{{ category.name }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="details-products">
				{% if products %}
					{% with product=products.0 %}
						<div class="details-slider">
							<div class="slider-product">
								<img src="/media/{{ hot_product.image }}">
							</div>
						</div>

						<div class="description">
							<h3 class="big-bold">{{ hot_product.name }}</h3>
							<h3 class="red">{{hot_product.short_desc}}</h3>
							<p class="price"> {{hot_product.price}} <span>руб</span></p>
							<a href="{% url 'cart:add' hot_product.id %}" class="red-button">
								заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
							</a>
							<div class="description-text">
								{{hot_product.description|linebreaks}}
							</div>
						</div>
					{% endwith %}
				{% else %}
					<div class="details-slider">
						<div class="slider-product">
							<img src="{% static 'img/crying_cat.jpg' %}">
						</div>
					</div>

						<div class="description">
							<h3 class="big-bold">В этой категории ничего нет...</h3>
							<h3 class="red">{{products.0.short_desc}}</h3>
							<p class="price"> {{product.price}} <span>руб</span></p>
							<a href="#" class="red-button">
								Попросить добавить <i class="fa fa-chevron-right" aria-hidden="true"></i>
							</a>
							<div class="description-text">
								<p>Возможно, мы что-нибудь добавим</p>
							</div>
						</div>
				{% endif %}
			</div>

			{% if products %}
				<div class="related">
					<div class="title clearfix">
						<h2>Похожие продукты</h2>
						<a class="explore" href="#">показать все <img src="{% static 'img/arrow.png' %}" alt=""></a>
					</div>
					<div class="related-products clearfix">
						{% for product in products %}
							<div class="block">
								<a href="{% url 'products:product' product.pk %}">
									<img class="product-image" src="/media/{{ product.image }}"
										 alt="{{product.short_description}}">
									<div class="text">
										<img src="{% static 'img/icon-hover.png' %}" alt="img">
										<h3>{{ product.category.name }}</h3>
										<h4>{{ product.name }}</h4>
										<p>{{ product.description }} </p>
									</div>
								</a>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
		</div>
		{% endblock %}
</html>